

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h3 style="padding-top:50px;color:saddlebrown;">ABOUT AUSTRALIA ACADEMY</h3>
            </header>
            <hr style="padding-bottom:30px;" class="line">

        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <div>
                <img src="~/lib/book.png" alt="..." class="team-img" style="width: 70px;opacity: 0.5;">
                <div style="padding-top:20px;">

                    <p>
                        <b>
                            @*Studies to raise the level of training in India
                                Bangladesh and any other country whose bodies
                                seek to be accredited by us.*@
                            Australian International Academy of Specialized Studies intersted in raising the level
                            of training in Australia ,India Bangladesh and any other country.
                        </b>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-6">
            <div>
                <img src="~/lib/provider.png" alt="..." class="team-img" style="width: 70px;opacity: 0.5;">
                <div style="padding-top:20px;">

                    <p>
                        <b>
                            Provide several qualification courses
                            in Indian universities and institutes, as well as the
                            state of Bangladesh.
                        </b>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-6">
            <div>
                <img src="~/lib/education.png" alt="..." class="team-img" style="width: 70px;opacity: 0.5;">
                <div style="padding-top:20px;">

                    <p>
                        <b>

                            We seek to provide accreditation to educational and training bodies in various countries of the world.
                        </b>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<section style="padding-top:80px;">
    <div class="container">


        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext" style="color:saddlebrown">1 / 5</div>
                <img src="~/lib/IMG_1.jpg" style="width:70%;">

            </div>

            <div class="mySlides fade">
                <div class="numbertext" style="color:saddlebrown">2 / 5</div>
                <img src="~/lib/IMG_2.jpg" style="width:70%;">

            </div>

            <div class="mySlides fade">
                <div class="numbertext" style="color:saddlebrown">3 / 5</div>
                <img src="~/lib/IMG_3.jpg" style="width:70%">

            </div>
            <div class="mySlides fade">
                <div class="numbertext" style="color:saddlebrown">4 / 5</div>
                <img src="~/lib/IMG_4.jpg" style="width:70%">

            </div>
            <div class="mySlides fade">
                <div class="numbertext" style="color:saddlebrown">5 / 5</div>
                <img src="~/lib/IMG_5.jpg" style="width:70%">

            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

    </div>
</section>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000);
    }
</script>

@*--------------------------------------------------------------------------*@
<section class="section-padding">
    <div class="jumbotron">

        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title" style="color:saddlebrown;">TOP COACHES</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="gallery">
                    <img src="~/lib/2.png" alt="..." class="team-img">
                    <div class="caption">
                        <h5 style="color:red;padding-top:10px;">Zita Joyce</h5>
                        <p><b>Senior Lecturer</b></p>
                        <p>Media and Communication Undergraduate / Honours Coordinator</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="gallery">
                    <img src="~/lib/22.png" alt="..." class="team-img">
                    <div class="caption">
                        <h5 style="color:red;padding-top:10px">Evgency Pavlov</h5>
                        <p><b>Associate Professor</b></p>
                        <p>Cultural and Language Studies</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="gallery">
                    <img src="~/lib/24.png" alt="..." class="team-img">
                    <div class="caption">
                        <h5 style="color:red;padding-top:10px">
                            Philip Borell
                        </h5>
                        <p><b>Ngati Ranginui / Ngati Tuwharetoa</b></p>
                        <p>Lecturer in Te Maori and Maori Performing Arts</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="gallery">
                    <img src="~/lib/23.png" alt="..." class="team-img">
                    <div class="caption">
                        <h5 style="color:red;padding-top:10px">Philip Armstrong</h5>
                        <p><b>Professor</b></p>
                        <p>Postaraduate Coordinator</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@*-----------------------------------------------------------------------*@

@*<section id="International">
        <div class="con">

            <header>
                <h3 style="padding-top:50px;color:saddlebrown">International Accreditations</h3>
            </header>
            <hr style="padding-bottom:30px;" class="line">


            <img src='~/lib/3.png' style="padding-right:20px;padding-bottom:20px;" class="logo">
            <img src='~/lib/4.png' style="padding-right:20px;" class="logo">
            <img src='~/lib/5.png' style="padding-right:20px;" class="logo">
            <img src='~/lib/6.png' style="padding-right:20px;" class="logo">
            <img src='~/lib/7.png' style="padding-right:20px;" class="logo">
            <img src='~/lib/8.png' style="padding-right:20px;" class="logo">
            <img src='~/lib/10.png' style="padding-right:20px;" class="logo">


        </div>
        <div class="con">

            <img src='~/lib/31.png' style="padding-right:20px;width: 200px;" >
            <img src='~/lib/30.png' style="padding-right:10px;width: 200px;" >
        </div>
    </section>*@


<div class="container my-4">

    <header>
        <h3 style="padding-top:50px;color:saddlebrown">International Accreditations</h3>
    </header>
    <hr style="padding-bottom:30px;" class="line">

    <!--Carousel Wrapper-->
    <div  class="carousel slide carousel-multi-item" data-ride="carousel">

     
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <section id="International">
                    <div class="con">



                        <img src='~/lib/3.png' style="padding-right:20px;padding-bottom:20px;" class="logo">
                        <img src='~/lib/4.png' style="padding-right:20px;" class="logo">
                        <img src='~/lib/5.png' style="padding-right:20px;" class="logo">
                    



                    </div>
                </section>

            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">

                <section id="International">
                    <div class="con">


                        <img src='~/lib/6.png' style="padding-right:20px;" class="logo">
                        <img src='~/lib/7.png' style="padding-right:20px;" class="logo">
                        <img src='~/lib/8.png' style="padding-right:20px;" class="logo">



                    </div>
                </section>

            </div>
            <!--/.Second slide-->
            <!--Third slide-->
            <div class="carousel-item">

                <section id="International">
                    <div class="con">


                        <img src='~/lib/10.png' style="padding-right:20px;" class="logo">
                        <img src='~/lib/31.png' style="padding-right:20px;width: 200px;padding-top:60px;">
                        <img src='~/lib/30.png' style="padding-right:10px;width: 200px;">


                    </div>
                </section>

            </div>
        

        </div>
     

    </div>



</div>



        @*-----------------------------------------------------------------------*@


            <section class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="ser-title" style="color:saddlebrown">Our students</h2>
                            <hr class="botm-line2">
                        </div>


                        <div class="col-md-3">

                            <div class="polaroid">
                                <img src="~/lib/p1.png" alt="5 Terre" style="width:100%">
                                <div class="container">
                                    <p>
                                        The best educational days are the ones under this wonderful
                                        academy, everything is important, the educational content and
                                        the certificate.
                                    </p>
                                    <p><b>Neharu Fleed</b></p>
                                    <p>Australia</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="polaroid">
                                <img src="~/lib/p2.png" alt="5 Terre" style="width:100%">
                                <div class="container">
                                    <p>
                                        Education in the Australia Academy is different
                                        in all respects, the most important of which is
                                        the efficiency of the training staff.
                                    </p>
                                    <p><b>Lina Swith</b></p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="polaroid">
                                <img src="~/lib/p3.png" alt="5 Terre" style="width:100%">
                                <div class="container">
                                    <p>
                                        I became an information systems programmer thanks
                                        to the Australia International Academy of Continuing
                                        Education.
                                    </p>
                                    <p><b>Tom Perraz</b></p>
                                    <p>Bangladesh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="polaroid">
                                <img src="~/lib/p4.png" alt="5 Terre" style="width:100%">
                                <div class="container">
                                    <p>
                                        I met an amazing academy, in terms of the quality of
                                        education and the commitment to the schedule of
                                        daily lectures.
                                    </p>
                                    <p><b>Nabera gears</b></p>
                                    <p>Australia</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
